.welcome-section {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-section h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  line-height: 66px;
  flex: 1;
}

.image-container {
  align-self: flex-end;
  justify-content: center;
  margin-right: 180px;
  margin-top: 40px;
}