.welcome-section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.welcome-section h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  line-height: 66px;
  flex: 1;
  text-align: center;
}

.image-container {
  align-self: center;
  justify-content: center;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .welcome-section {
    flex-direction: row;
  }

  .image-container {
    align-self: flex-end;
    margin-right: 180px;
  }
}